{% extends 'ThemeBundle:Default:theme.html.twig' %}

{% block header %}
    {{ header }}
{% endblock %}

{% block main %}
    <h1>{{ main }}</h1>
    <div>
        <a href="#">This is a link</a>
        {{ text }}
    </div>
{% endblock %}

{% block footer %}{{ footer }}{% endblock %}
